[
    {config, [
        #{
            files => ["src/*.erl"],
            ruleset => erl_files_strict
        },
        #{
            files => ["test/*.erl"],
            ruleset => erl_files_test
        },
        #{
            files => ["rebar.config"],
            ruleset => rebar_config
        },
        #{
            files => [".gitignore"],
            ruleset => gitignore
        }
    ]}
].
