{erl_opts, [debug_info]}.
{deps, [{elvis_core, "~>1.0.0"}]}.
{project_plugins, [rebar3_hex]}.

{dialyzer, [
    {warnings, [unmatched_returns, error_handling, underspecs]}
]}.

{profiles, [
    {xref, [
        {xref_checks, [
            deprecated_function_calls,
            exports_not_used,
            locals_not_used,
            undefined_function_calls
        ]},
        {deps, [{rebar3, {git, "https://github.com/erlang/rebar3.git", {branch, "master"}}}]}
    ]}
]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{alias, [{test, [dialyzer, ct, cover]}]}.

{elvis, [
    {config, [
        #{ dirs => ["src"],
           filter => "*.erl",
           ruleset => erl_files },
        #{ dirs => ["."],
           filter => "rebar.config",
           ruleset => rebar_config },
        #{ dirs => ["."],
           filter => "elvis.config",
           ruleset => elvis_config }
    ]}
]}.

