%% == Erlang Compiler ==

{erl_opts, [
    debug_info
]}.

%% == Dependencies and plugins ==

{deps, [
    {elvis_core, "~>1.0.0"}
]}.

{project_plugins, [rebar3_hex]}.

%% == Dialyzer ==

{dialyzer, [
    {warnings, [
        error_handling,
        underspecs,
        unmatched_returns
    ]}
]}.

%% == Profiles ==

{profiles, [
    {test, [
        {cover_enabled, true},
        {cover_opts, [verbose]}
    ]},
    {xref, [
        {xref_checks, [
            deprecated_function_calls,
            exports_not_used,
            locals_not_used,
            undefined_function_calls
        ]},
        {deps, [{rebar3, {git, "https://github.com/erlang/rebar3.git", {branch, "master"}}}]}
    ]}
]}.

%% == Aliases ==

{alias, [
    {test, [xref, dialyzer, ct, cover]}
]}.

%% == elvis ==

{elvis, [
    {config, [
        #{ dirs => ["apps/*/src/**", "src/**"],
           filter => "*.erl",
           ruleset => erl_files },
        #{ dirs => ["."],
           filter => "rebar.config",
           ruleset => rebar_config },
        #{ dirs => ["."],
           filter => "elvis.config",
           ruleset => elvis_config }
    ]}
]}.
