{minimum_otp_vsn, "21"}.

%% == Erlang Compiler ==

{erl_opts, [
    debug_info
]}.

%% == Dependencies and plugins ==

{deps, [
    {elvis_core, "2.0.1"}
]}.

{project_plugins, [
    rebar3_hex,
    rebar3_hank
]}.

%% == Dialyzer ==

{dialyzer, [
    {warnings, [
        error_handling,
        underspecs,
        unmatched_returns
    ]}
]}.

{xref_checks, [
    deprecated_function_calls,
    exports_not_used,
    locals_not_used
]}.

%% == Profiles ==

{profiles, [
    {test, [
        {cover_enabled, true},
        {cover_opts, [verbose]}
    ]}
]}.

%% == Aliases ==

{alias, [{test, [xref, dialyzer, hank, ct, cover, edoc]}]}.

{hex, [{doc, edoc}]}.
